In [26]:
import pandas as pd

In [27]:
df = pd.read_csv('Viviendas09.CSV')
df

,ENT,MUN,LOC50K,ID_VIV,COBERTURA,ESTRATO,UPM,FACTOR,CLAVIVP,PAREDES,...,ALIM_ADL1,ALIM_ADL2,ING_ALIM_ADL1,ING_ALIM_ADL2,ING_ALIM_ADL3,TIPOHOG,INGTRHOG,JEFE_SEXO,JEFE_EDAD,TAMLOC
0,9,2,1,90020000001,2,09-002-0001-00,1,27,1,8.0,...,2,4,2,4,6,2,58050.0,3,72,5
1,9,2,1,90020000002,2,09-002-0001-00,1,27,1,8.0,...,2,4,2,4,6,2,80500.0,1,57,5
2,9,2,1,90020000003,2,09-002-0001-00,1,27,1,8.0,...,2,4,2,4,6,2,NaN,3,74,5
3,9,2,1,90020000004,2,09-002-0001-00,1,27,1,8.0,...,2,4,2,4,6,2,0.0,3,56,5
4,9,2,1,90020000005,2,09-002-0001-00,1,27,1,8.0,...,2,4,2,4,6,2,0.0,3,80,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81522,9,17,1,90170005185,2,09-017-0001-00,133,26,4,8.0,...,2,4,2,4,6,1,14000.0,1,53,5
81523,9,17,1,90170005186,2,09-017-0001-00,133,26,4,8.0,...,2,4,2,4,6,2,22300.0,3,50,5
81524,9,17,1,90170005187,2,09-017-0001-00,133,26,4,8.0,...,2,4,2,4,6,1,13000.0,3,47,5
81525,9,17,1,90170005188,2,09-017-0001-00,133,26,4,8.0,...,2,4,2,4,6,1,0.0,3,34,5
81526,9,17,1,90170005189,2,09-017-0001-00,133,26,4,8.0,...,2,4,2,4,6,5,7600.0,3,36,5

In [28]:
df = df.drop(columns=['ENT','LOC50K','COBERTURA','ESTRATO','UPM','FACTOR','LUG_COC','COMBUSTIBLE','ESTUFA','FOCOS','FOCOS_AHORRA','ABA_AGUA_NO_ENTU','BOMBA_AGUA','REGADERA','SEPARACION1','SEPARACION2','SEPARACION3','SEPARACION4','DESTINO_BAS','TENENCIA','ESCRITURAS','FORMA_ADQUI','FINANCIAMIENTO1','FINANCIAMIENTO2','FINANCIAMIENTO3','DEUDA','DUE1_NUM','DUE2_NUM','MCONMIG','INGR_PEROTROPAIS','INGR_PERDENTPAIS','INGR_AYUGOB','INGR_JUBPEN','ALIMENTACION','ALIM_ADL1','ALIM_ADL2','ING_ALIM_ADL1','ING_ALIM_ADL2','ING_ALIM_ADL3','INGTRHOG','TAMLOC'])

In [29]:
df = df.dropna(axis=0, how='all')
df

,MUN,ID_VIV,CLAVIVP,PAREDES,TECHOS,PISOS,COCINA,CUADORM,TOTCUART,ELECTRICIDAD,...,CELULAR,INTERNET,SERV_TV_PAGA,SERV_PEL_PAGA,CON_VJUEGOS,NUMPERS,MNUMPERS,TIPOHOG,JEFE_SEXO,JEFE_EDAD
0,2,90020000001,1,8.0,10.0,3.0,1.0,3.0,4.0,1.0,...,5.0,7.0,2.0,4.0,6.0,8,NaN,2,3,72
1,2,90020000002,1,8.0,10.0,3.0,1.0,5.0,10.0,1.0,...,5.0,7.0,1.0,3.0,5.0,6,NaN,2,1,57
2,2,90020000003,1,8.0,10.0,3.0,1.0,4.0,7.0,1.0,...,5.0,7.0,1.0,3.0,6.0,4,NaN,2,3,74
3,2,90020000004,1,8.0,10.0,2.0,1.0,3.0,4.0,1.0,...,5.0,7.0,2.0,4.0,6.0,4,NaN,2,3,56
4,2,90020000005,1,8.0,10.0,2.0,1.0,4.0,5.0,1.0,...,5.0,7.0,1.0,4.0,6.0,6,NaN,2,3,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81522,17,90170005185,4,8.0,10.0,3.0,1.0,2.0,4.0,1.0,...,5.0,7.0,1.0,4.0,6.0,3,NaN,1,1,53
81523,17,90170005186,4,8.0,10.0,2.0,1.0,2.0,3.0,1.0,...,5.0,7.0,2.0,3.0,5.0,4,NaN,2,3,50
81524,17,90170005187,4,8.0,10.0,3.0,1.0,2.0,4.0,1.0,...,5.0,7.0,2.0,4.0,6.0,2,NaN,1,3,47
81525,17,90170005188,4,8.0,10.0,2.0,1.0,2.0,4.0,1.0,...,5.0,8.0,2.0,4.0,6.0,2,NaN,1,3,34
81526,17,90170005189,4,8.0,10.0,2.0,1.0,1.0,3.0,1.0,...,5.0,7.0,1.0,4.0,6.0,1,NaN,5,3,36

In [72]:
convertir = {
    1: "Casa Ãºnica en el terreno",
    2: 'Casa que comparte terreno con otra(s)',
    3: 'Casa dÃºplex',
    4: 'Departamento en edificio',
    5: 'Vivienda en vecindad o cuarterÃ­a',
    6: 'Vivienda en cuarto de azotea de un edificio',
    7: 'Local no construido para habitaciÃ³n',
    8: 'Vivienda mÃ³vil',
    9: 'Refugio',
    99: 'No especificado de vivienda particular'
}

In [75]:
df['CLAVIVP'] = df['CLAVIVP'].map(convertir)

In [81]:

def cuarto(value):
    if(value==99): return "No especificado"
    else: return value

In [82]:
df['CUADORM'].map(cuarto)

0        3.0
1        5.0
2        4.0
3        3.0
4        4.0
        ...
81522    2.0
81523    2.0
81524    2.0
81525    2.0
81526    1.0
Name: CUADORM, Length: 81527, dtype: object

In [83]:
df.groupby('MUN')['CLAVIVP'].value_counts()

MUN  CLAVIVP
2    Casa que comparte terreno con otra(s)          2062
     Departamento en edificio                       1885
     Casa Ãºnica en el terreno                       1218
     Vivienda en vecindad o cuarterÃ­a                 97
     Casa dÃºplex                                      55
                                                    ...
17   Vivienda en vecindad o cuarterÃ­a                 85
     Casa dÃºplex                                      33
     Local no construido para habitaciÃ³n               9
     Vivienda en cuarto de azotea de un edificio       6
     No especificado de vivienda particular            1
Name: CLAVIVP, Length: 128, dtype: int64

In [84]:
df.groupby('MUN')['CUADORM'].value_counts()

MUN  CUADORM
2    2.0        2368
     1.0        1503
     3.0        1046
     4.0         287
     5.0          64
                ...
17   6.0          29
     7.0          10
     8.0           5
     9.0           2
     99.0          1
Name: CUADORM, Length: 172, dtype: int64

In [85]:
df.groupby('MUN')['CUADORM'].mean()

MUN
2     2.103027
3     2.410091
4     2.222859
5     2.210809
6     2.227056
7     2.156151
8     2.203456
9     2.044233
10    2.256660
11    2.184852
12    2.212407
13    2.202765
14    2.091059
15    1.885096
16    2.034717
17    2.094015
Name: CUADORM, dtype: float64